{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Menú Principal</h1>
    <div class="container">
        <ul>
            <li><a href="{% url 'registro_producto' %}" class="boton">Registrar Producto</a></li>
            <li><a href="{% url 'listar_productos' %}" class="boton">Consulta</a></li>
        </ul>
    </div>
</body>
</html>
